.container {
    margin: 100px auto;
    width: 1200px;
}

.postPhotoForm {
    margin-bottom: 30px;
    width: inherit;
    display: flex;
    justify-content: flex-end;

    input[type="file"] {
        margin-right: 20px;
        direction: rtl;
        flex-grow: 1;
    }

}

.wrap {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: ghostwhite;

    & > img {
        height: 200px;
        cursor: pointer;
    }

    & > img:nth-child(n + 4) {
        margin-top: 30px;
    }
}
